USE [master]
GO
/****** Object:  Database [care_bike]    Script Date: 28/06/2026 2:13:37 SA ******/
CREATE DATABASE [care_bike]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'care_bike', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS01\MSSQL\DATA\care_bike.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'care_bike_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS01\MSSQL\DATA\care_bike_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [care_bike].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [care_bike]
GO
/****** Object:  Table [dbo].[appointments]    Script Date: 28/06/2026 2:13:37 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[appointments](
	[branch_id] [int] NOT NULL,
	[customer_id] [int] NOT NULL,
	[id] [int] IDENTITY(1,1) NOT NULL,
	[appointment_date] [datetime2](7) NOT NULL,
	[status] [varchar](20) NOT NULL,
	[note] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[branches]    Script Date: 28/06/2026 2:13:37 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[branches](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[latitude] [numeric](10, 8) NULL,
	[longitude] [numeric](11, 8) NULL,
	[manager_id] [int] NULL,
	[created_at] [datetimeoffset](7) NULL,
	[phone] [varchar](20) NOT NULL,
	[status] [varchar](50) NULL,
	[address] [varchar](255) NOT NULL,
	[name] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[categories]    Script Date: 28/06/2026 2:13:37 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[categories](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[description] [nvarchar](500) NULL,
	[name] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[customer_profiles]    Script Date: 28/06/2026 2:13:37 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[customer_profiles](
	[accumulated_points] [int] NOT NULL,
	[id] [int] IDENTITY(1,1) NOT NULL,
	[total_spent] [numeric](18, 2) NOT NULL,
	[user_id] [int] NOT NULL,
	[member_tier] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[maintenance_history]    Script Date: 28/06/2026 2:13:37 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[maintenance_history](
	[branch_id] [int] NULL,
	[current_km] [int] NULL,
	[customer_id] [int] NOT NULL,
	[id] [int] IDENTITY(1,1) NOT NULL,
	[service_date] [date] NOT NULL,
	[total_cost] [numeric](15, 2) NULL,
	[service_details] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[rescues]    Script Date: 28/06/2026 2:13:37 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rescues](
	[branch_id] [int] NOT NULL,
	[customer_id] [int] NOT NULL,
	[distance_km] [float] NULL,
	[latitude] [float] NULL,
	[longitude] [float] NULL,
	[time_multiplier] [float] NULL,
	[total_cost] [numeric](38, 2) NULL,
	[transport_fee] [numeric](38, 2) NULL,
	[vehicle_id] [int] NOT NULL,
	[created_at] [datetime2](7) NULL,
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[staff_code] [varchar](20) NULL,
	[invoice_details] [text] NULL,
	[issue_description] [text] NULL,
	[status] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[roles]    Script Date: 28/06/2026 2:13:37 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[roles](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[role_name] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[shifts]    Script Date: 28/06/2026 2:13:37 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[shifts](
	[branch_id] [int] NOT NULL,
	[id] [int] IDENTITY(1,1) NOT NULL,
	[shift_date] [date] NOT NULL,
	[staff_id] [int] NOT NULL,
	[shift_type] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[spare_parts]    Script Date: 28/06/2026 2:13:37 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[spare_parts](
	[category_id] [int] NULL,
	[id] [int] IDENTITY(1,1) NOT NULL,
	[price] [numeric](15, 2) NOT NULL,
	[description] [nvarchar](max) NULL,
	[image_url] [nvarchar](255) NULL,
	[name] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[staffs]    Script Date: 28/06/2026 2:13:37 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[staffs](
	[branch_id] [int] NOT NULL,
	[id] [int] IDENTITY(1,1) NOT NULL,
	[phone] [varchar](20) NULL,
	[staff_code] [varchar](20) NOT NULL,
	[full_name] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 28/06/2026 2:13:37 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[dob] [date] NULL,
	[id] [int] IDENTITY(1,1) NOT NULL,
	[is_active] [bit] NOT NULL,
	[role_id] [int] NULL,
	[created_at] [datetimeoffset](7) NULL,
	[gender] [varchar](20) NULL,
	[email] [varchar](255) NOT NULL,
	[firebase_uid] [varchar](255) NULL,
	[full_name] [varchar](255) NULL,
	[phone] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[vehicles]    Script Date: 28/06/2026 2:13:37 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[vehicles](
	[current_km] [int] NULL,
	[engine_capacity] [int] NULL,
	[id] [int] IDENTITY(1,1) NOT NULL,
	[owner_id] [int] NOT NULL,
	[license_plate] [varchar](20) NULL,
	[vehicle_type] [varchar](50) NOT NULL,
	[brand] [varchar](100) NOT NULL,
	[vehicle_name] [varchar](150) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[appointments] ON 

INSERT [dbo].[appointments] ([branch_id], [customer_id], [id], [appointment_date], [status], [note]) VALUES (7, 12, 1, CAST(N'2026-06-25T11:00:00.0000000' AS DateTime2), N'PENDING', N'leaking oil')
SET IDENTITY_INSERT [dbo].[appointments] OFF
GO
SET IDENTITY_INSERT [dbo].[branches] ON 

INSERT [dbo].[branches] ([id], [latitude], [longitude], [manager_id], [created_at], [phone], [status], [address], [name]) VALUES (1, CAST(10.77620000 AS Numeric(10, 8)), CAST(106.69990000 AS Numeric(11, 8)), 2, CAST(N'2026-06-24T07:45:55.2017815+00:00' AS DateTimeOffset), N'0901000001', N'ACTIVE', N'123 Le Loi, District 1, HCMC', N'Care Bike Q1')
INSERT [dbo].[branches] ([id], [latitude], [longitude], [manager_id], [created_at], [phone], [status], [address], [name]) VALUES (2, CAST(10.78750000 AS Numeric(10, 8)), CAST(106.74810000 AS Numeric(11, 8)), 3, CAST(N'2026-06-24T07:45:55.5608357+00:00' AS DateTimeOffset), N'0901000002', N'ACTIVE', N'456 Nguyen Thi Dinh, Thu Duc City, HCMC', N'Care Bike Q2')
INSERT [dbo].[branches] ([id], [latitude], [longitude], [manager_id], [created_at], [phone], [status], [address], [name]) VALUES (3, CAST(10.78100000 AS Numeric(10, 8)), CAST(106.68900000 AS Numeric(11, 8)), 4, CAST(N'2026-06-24T07:45:55.9668261+00:00' AS DateTimeOffset), N'0901000003', N'ACTIVE', N'78 Vo Van Tan, District 3, HCMC', N'Care Bike Q3')
SET IDENTITY_INSERT [dbo].[branches] OFF
GO
SET IDENTITY_INSERT [dbo].[categories] ON 

INSERT [dbo].[categories] ([id], [description], [name]) VALUES (4, N'', N'Motor Oil')
INSERT [dbo].[categories] ([id], [description], [name]) VALUES (5, N'', N'Spare Parts')
INSERT [dbo].[categories] ([id], [description], [name]) VALUES (6, N'', N'Motorbike Tires')
SET IDENTITY_INSERT [dbo].[categories] OFF
GO
SET IDENTITY_INSERT [dbo].[maintenance_history] ON 

INSERT [dbo].[maintenance_history] ([branch_id], [current_km], [customer_id], [id], [service_date], [total_cost], [service_details]) VALUES (7, 0, 12, 1, CAST(N'2026-06-24' AS Date), CAST(117288.17 AS Numeric(15, 2)), N'{"customerName":"Alice Smith","customerPhone":"0990000000","vehicleName":"Honda Winner","vehiclePlate":"59C2-90490","staffCode":"CBS-0067","staffName":"Christopher Wilson","date":"15:17 - 24/06/2026","timeMultiplier":1.0,"laborCost":100000.0,"distanceKm":1.7288167565761752,"transportFee":17288.167565761752,"items":[],"totalAmount":117288.167565761752}')
SET IDENTITY_INSERT [dbo].[maintenance_history] OFF
GO
SET IDENTITY_INSERT [dbo].[rescues] ON 

SET IDENTITY_INSERT [dbo].[rescues] OFF
GO
SET IDENTITY_INSERT [dbo].[roles] ON 

INSERT [dbo].[roles] ([id], [role_name]) VALUES (1, N'ADMIN')
INSERT [dbo].[roles] ([id], [role_name]) VALUES (2, N'BRANCH')
INSERT [dbo].[roles] ([id], [role_name]) VALUES (3, N'CUSTOMER')
SET IDENTITY_INSERT [dbo].[roles] OFF
GO
SET IDENTITY_INSERT [dbo].[shifts] ON 

INSERT [dbo].[shifts] ([branch_id], [id], [shift_date], [staff_id], [shift_type]) VALUES (1, 1, CAST(N'2026-06-22' AS Date), 1, N'MORNING')
INSERT [dbo].[shifts] ([branch_id], [id], [shift_date], [staff_id], [shift_type]) VALUES (1, 2, CAST(N'2026-06-22' AS Date), 2, N'MORNING')
INSERT [dbo].[shifts] ([branch_id], [id], [shift_date], [staff_id], [shift_type]) VALUES (1, 3, CAST(N'2026-06-22' AS Date), 3, N'MORNING')
GO
SET IDENTITY_INSERT [dbo].[shifts] OFF
GO
SET IDENTITY_INSERT [dbo].[spare_parts] ON 

INSERT [dbo].[spare_parts] ([category_id], [id], [price], [description], [image_url], [name]) VALUES (4, 9, CAST(480000.00 AS Numeric(15, 2)), N'Motul 300V Racing/Road 10W40 1L nhớt chất lượng cao dành cho xe mô tô phân khối lớn, xe côn tay, xe số,...
Nhớt Motul 300V 10W40 1L tối ưu hóa công suất động cơ và bảo vệ động cơ một cách hoàn hảo.
- Dầu nhớt tổng hợp 100% Synthese.
- Tiêu chuẩn: API SN, JASO MA.
- Dung tích: 1 lít', N'/images/5df07472-de2b-409e-af52-ba96eb03e102_Motul 300V 10W40.jpg', N'Nhớt Motul 300V Racing/Road 10W40 1L')
SET IDENTITY_INSERT [dbo].[spare_parts] OFF
GO
SET IDENTITY_INSERT [dbo].[staffs] ON 

INSERT [dbo].[staffs] ([branch_id], [id], [phone], [staff_code], [full_name]) VALUES (1, 1, N'0937211264', N'CBS-0001', N'Eric Brown')
INSERT [dbo].[staffs] ([branch_id], [id], [phone], [staff_code], [full_name]) VALUES (1, 2, N'0953087547', N'CBS-0002', N'Johnny Smith')
INSERT [dbo].[staffs] ([branch_id], [id], [phone], [staff_code], [full_name]) VALUES (1, 3, N'0989255534', N'CBS-0003', N'William Wilson')
GO
SET IDENTITY_INSERT [dbo].[staffs] OFF
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([dob], [id], [is_active], [role_id], [created_at], [gender], [email], [firebase_uid], [full_name], [phone]) VALUES (NULL, 1, 1, 1, CAST(N'2026-06-24T07:45:54.0448004+00:00' AS DateTimeOffset), NULL, N'admin@carebike.com', N'UnmBZJtdaWUsE3UcZ1QrDYBtYXp1', N'Super Admin CareBike', NULL)
INSERT [dbo].[users] ([dob], [id], [is_active], [role_id], [created_at], [gender], [email], [firebase_uid], [full_name], [phone]) VALUES (NULL, 2, 1, 2, CAST(N'2026-06-24T07:45:55.1837122+00:00' AS DateTimeOffset), NULL, N'carebike_q1@carebike.com', N'WOoQY8uMl0RdnjvK8g71qRbHTrS2', N'Manager Care Bike Q1', N'0901000001')
INSERT [dbo].[users] ([dob], [id], [is_active], [role_id], [created_at], [gender], [email], [firebase_uid], [full_name], [phone]) VALUES (NULL, 3, 1, 2, CAST(N'2026-06-24T07:45:55.5369378+00:00' AS DateTimeOffset), NULL, N'carebike_q2@carebike.com', N'Ank4Cj6fbwVjEeLgBFiYn6H50mr2', N'Manager Care Bike Q2', N'0901000002')
SET IDENTITY_INSERT [dbo].[users] OFF
GO
SET IDENTITY_INSERT [dbo].[vehicles] ON 

INSERT [dbo].[vehicles] ([current_km], [engine_capacity], [id], [owner_id], [license_plate], [vehicle_type], [brand], [vehicle_name]) VALUES (150000, 150, 1, 12, N'59C2-90490', N'XE_SO', N'Honda', N'Winner')
SET IDENTITY_INSERT [dbo].[vehicles] OFF
GO
/****** Object:  Index [UK9sgoag24qgk3nabu6g7416ijm]    Script Date: 28/06/2026 2:13:37 SA ******/
CREATE UNIQUE NONCLUSTERED INDEX [UK9sgoag24qgk3nabu6g7416ijm] ON [dbo].[branches]
(
	[manager_id] ASC
)
WHERE ([manager_id] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UKt8o6pivur7nn124jehx7cygw5]    Script Date: 28/06/2026 2:13:37 SA ******/
ALTER TABLE [dbo].[categories] ADD  CONSTRAINT [UKt8o6pivur7nn124jehx7cygw5] UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UKcw536j6opmbegf01k4hykv2vs]    Script Date: 28/06/2026 2:13:37 SA ******/
ALTER TABLE [dbo].[customer_profiles] ADD  CONSTRAINT [UKcw536j6opmbegf01k4hykv2vs] UNIQUE NONCLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UKgv3vs910jx6y6bftfxsxvm2vi]    Script Date: 28/06/2026 2:13:37 SA ******/
ALTER TABLE [dbo].[staffs] ADD  CONSTRAINT [UKgv3vs910jx6y6bftfxsxvm2vi] UNIQUE NONCLUSTERED 
(
	[staff_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK6dotkott2kjsp8vw4d0m25fb7]    Script Date: 28/06/2026 2:13:37 SA ******/
ALTER TABLE [dbo].[users] ADD  CONSTRAINT [UK6dotkott2kjsp8vw4d0m25fb7] UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK4yiq7pdiwjw8inhg1xy83nabx]    Script Date: 28/06/2026 2:13:37 SA ******/
CREATE UNIQUE NONCLUSTERED INDEX [UK4yiq7pdiwjw8inhg1xy83nabx] ON [dbo].[users]
(
	[firebase_uid] ASC
)
WHERE ([firebase_uid] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[appointments]  WITH CHECK ADD  CONSTRAINT [FK4q5rt20vvnkv7eohwq22l3ayy] FOREIGN KEY([customer_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[appointments] CHECK CONSTRAINT [FK4q5rt20vvnkv7eohwq22l3ayy]
GO
ALTER TABLE [dbo].[appointments]  WITH CHECK ADD  CONSTRAINT [FKk8jy62c7ppxcky9c3dvqf69k5] FOREIGN KEY([branch_id])
REFERENCES [dbo].[branches] ([id])
GO
ALTER TABLE [dbo].[appointments] CHECK CONSTRAINT [FKk8jy62c7ppxcky9c3dvqf69k5]
GO
ALTER TABLE [dbo].[branches]  WITH CHECK ADD  CONSTRAINT [FKaxphe54ft6x2k2ndo8t5vsvjo] FOREIGN KEY([manager_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[branches] CHECK CONSTRAINT [FKaxphe54ft6x2k2ndo8t5vsvjo]
GO
ALTER TABLE [dbo].[customer_profiles]  WITH CHECK ADD  CONSTRAINT [FK69orkdj1un5rh845ngvvmd1xs] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[customer_profiles] CHECK CONSTRAINT [FK69orkdj1un5rh845ngvvmd1xs]
GO
ALTER TABLE [dbo].[maintenance_history]  WITH CHECK ADD  CONSTRAINT [FK32jv3bqhnddx90vynkakcht8v] FOREIGN KEY([customer_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[maintenance_history] CHECK CONSTRAINT [FK32jv3bqhnddx90vynkakcht8v]
GO
ALTER TABLE [dbo].[maintenance_history]  WITH CHECK ADD  CONSTRAINT [FKbdjf2kantugp2692kbntnr9oo] FOREIGN KEY([branch_id])
REFERENCES [dbo].[branches] ([id])
GO
ALTER TABLE [dbo].[maintenance_history] CHECK CONSTRAINT [FKbdjf2kantugp2692kbntnr9oo]
GO
ALTER TABLE [dbo].[rescues]  WITH CHECK ADD  CONSTRAINT [FK56rqkuuibp5skvn3voeete791] FOREIGN KEY([branch_id])
REFERENCES [dbo].[branches] ([id])
GO
ALTER TABLE [dbo].[rescues] CHECK CONSTRAINT [FK56rqkuuibp5skvn3voeete791]
GO
ALTER TABLE [dbo].[rescues]  WITH CHECK ADD  CONSTRAINT [FKnh92b51lpqomn16tfg253263b] FOREIGN KEY([vehicle_id])
REFERENCES [dbo].[vehicles] ([id])
GO
ALTER TABLE [dbo].[rescues] CHECK CONSTRAINT [FKnh92b51lpqomn16tfg253263b]
GO
ALTER TABLE [dbo].[rescues]  WITH CHECK ADD  CONSTRAINT [FKt3cv8orfj0mjpqe8b7v93yty7] FOREIGN KEY([customer_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[rescues] CHECK CONSTRAINT [FKt3cv8orfj0mjpqe8b7v93yty7]
GO
ALTER TABLE [dbo].[shifts]  WITH CHECK ADD  CONSTRAINT [FKll9m6u08c6wyjkbcpsb475vrd] FOREIGN KEY([branch_id])
REFERENCES [dbo].[branches] ([id])
GO
ALTER TABLE [dbo].[shifts] CHECK CONSTRAINT [FKll9m6u08c6wyjkbcpsb475vrd]
GO
ALTER TABLE [dbo].[shifts]  WITH CHECK ADD  CONSTRAINT [FKpu6uw6ni9e2x2abrgol5a3qem] FOREIGN KEY([staff_id])
REFERENCES [dbo].[staffs] ([id])
GO
ALTER TABLE [dbo].[shifts] CHECK CONSTRAINT [FKpu6uw6ni9e2x2abrgol5a3qem]
GO
ALTER TABLE [dbo].[spare_parts]  WITH CHECK ADD  CONSTRAINT [FK7v4vy8ir7hqei7ivevtrt4f4g] FOREIGN KEY([category_id])
REFERENCES [dbo].[categories] ([id])
GO
ALTER TABLE [dbo].[spare_parts] CHECK CONSTRAINT [FK7v4vy8ir7hqei7ivevtrt4f4g]
GO
ALTER TABLE [dbo].[staffs]  WITH CHECK ADD  CONSTRAINT [FKqr601gcg9875ic2yan8lp162b] FOREIGN KEY([branch_id])
REFERENCES [dbo].[branches] ([id])
GO
ALTER TABLE [dbo].[staffs] CHECK CONSTRAINT [FKqr601gcg9875ic2yan8lp162b]
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD  CONSTRAINT [FKp56c1712k691lhsyewcssf40f] FOREIGN KEY([role_id])
REFERENCES [dbo].[roles] ([id])
GO
ALTER TABLE [dbo].[users] CHECK CONSTRAINT [FKp56c1712k691lhsyewcssf40f]
GO
ALTER TABLE [dbo].[vehicles]  WITH CHECK ADD  CONSTRAINT [FKi251m7sfpn4k64pif7wk70jlu] FOREIGN KEY([owner_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[vehicles] CHECK CONSTRAINT [FKi251m7sfpn4k64pif7wk70jlu]
GO
USE [master]
GO
